/*GENERAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
 }
 
/*HEADER*/
header {
    border-bottom: 1px solid black; 
    background-color:#f8eee3;
}
.navbar-brand{
    display: flex;
    align-items: center;
}

.nav-item{
    margin: 0.5rem;
}
.nav-link{
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    background-color:#f8f0e7 ;
    border:1px solid #DFB59D;
    text-decoration: none;
    color: #564242;
    text-align: center;
}
.nav-link:hover{ 
    border:1px solid #93b49e ;
    background-color:#93b49e;
    color:#FBF9F8;
    transform:scale(1,1);
    transition: all 0.9s;
}
    /*CAMBIO EN EL HEADER/NAV GENERAL*/
@media only screen and ( max-width:323px){
    .navbar-brand{
        display: inline;
        justify-content: center;
    }
    h1 {
        text-align: center;
    }
    .container-fluid{
        display: inline !important;
        justify-content: center;
        margin-bottom: 0rem;
    }
    .button_nav_h{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_header{
        text-align: center;
    }
}
/*MAIN*/
body{
    background-color:rgb(255, 254, 253) !important;
    align-items: center;
 }
 
 /*MAIN index*/

.main {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 2rem;
    justify-content: center;
}
.imagen_main{
    width: 1200px;
    margin: 1rem;
    
}
.titulo_main {
    margin: 1rem 1rem;
}
.main p{
    margin-bottom:2rem;
    padding:1rem 1rem;
}

.button a:hover{ 
    background-color:#93b49e;
    color:#FBF9F8;
    transform:scale(1,1);
    transition: all 0.9s;
}
.button a{
    display: inline-block;
    text-align: center;
    margin: 1.5rem 1rem;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    background-color:#DFB59D;
    text-decoration: none;
    color: #564242;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
    box-shadow: 0px 8px 4px -1px rgba(0,0,0,0.49);
}
.carousel-inner {
    box-shadow: 0px 8px 4px -1px rgba(0,0,0,0.49);
}

#idea{
    flex-direction: row-reverse;
}
    /*PANTALLAS XS SM MD INDEX*/
    @media only screen and ( max-width:980px){
        /*General*/
        .grilla_idx{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows:none 85% 305px;
            grid-template-areas:"header"
                                "main"
                                "footer";
        }
        /*HEADER*/
        .headerix{
            grid-area:"header";
        }
        /*MAIN destacados*/
        .imagen_index{
            width: 100%;
            height: 500px;
        }
        .sectionix{
            grid-area:"main";
            display: inline-block;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .main{
            display: inline-block;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2rem;
        }
        #idea{
            display: inline-block;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .main p{
            margin-bottom:1rem;
            padding:0.1rem;
        }
        .imagen_main{
            width: 100%;
            margin: 0.1rem;
        }
        /*FOOTER*/
        .footer_index{
            grid-area:"footer";
        }    
    }
        /*PANTALLAS LG INDEX*/
    @media only screen and (min-width:980px ){
        /*General*/
        .grilla_idx{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows:none 90% 255px;
            grid-template-areas:"header"
                                "main"
                                "footer";
        }
        /*HEADER*/
        .headerix{
            grid-area:"header";
        }
        /*MAIN destacados*/
        .sectionix{
            grid-area:"main";
        }
        /*FOOTER*/
        .footer_index{
            grid-area:"footer";
        }      
    }
/*MAIN nosotras*/
.h2_nos{
    font-size:400%;
    background-color:rgb(253, 236, 227);
    font-weight: bolder;
    font-style: normal;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.main_infons{
    display: flex;
    align-items: center;
    margin: 2rem 2rem;
    justify-content: center;
    gap: 1rem;
    box-shadow: 2px 8px 4px 2px rgba(0,0,0,0.49);
}
#filo{
    flex-direction: row-reverse;
}
.imagenes_indv{
    margin: 1rem; 
    height:200px;
    width: 40%; 
    filter: brightness(100%);
}
.h2_div_inf{
    margin-bottom: 1.4rem 1rem;
    padding:0rem 1rem ;

}
.socios_img{
    display: flex;
    justify-content: space-around;
}
.integrantes{ 
    margin: 2rem;
    filter: invert(20%);
}
.integrantes:hover{ 
    filter: invert(0%);
    transition: all 1s;
}
.parrafo_nos{
    margin-bottom: 1.4rem 1rem;
    padding:1.4rem 1rem;
}
.parrafo_nos{
    margin-bottom: 1.4rem 1rem;
    padding:1.4rem 1rem;
}
    /*PANTALLAS XS SM MD NOSOTRAS*/
    @media only screen and ( max-width:760px){
        /*General*/
        .grilla_nos{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows:none 90% 305px;
            grid-template-areas:"header"
                                "main"
                                "footer";
        }
        /*HEADER*/
        .destacados_header{
            grid-area:"header";
        }
        /*MAIN destacados*/
        .main_nos{
            grid-area:"main";
            margin: 0rem;
        }
        .h2_nos{
            font-size:200%;
        }
        .main_infons{
            display: inline-block;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        #filo{
            display: inline-block;
            display: flex;
            flex-direction: column;
            text-align: center;        
        }
        .imagenes_indv{
            width: 90%; 
        }
         /*FOOTER*/
        .footer_index{
            grid-area:"footer";
        } 
        .socios_img{
            display: flex;
            display: block;
            text-align: center;
        }    
        .integrantes{ 
            margin:0.1rem;
        }
    }
        /*PANTALLAS LG Nosotras*/
    @media only screen and (min-width:760px ){
        /*General*/
        .grilla_nos{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows:none 80% 205px;
            grid-template-areas:"header"
                                "main"
                                "footer";
        }
        /*MAIN destacados*/
        .main_nos{
            grid-area:"main";
        }
        /*FOOTER*/
        .footer_index{
            grid-area:"footer";
        }      
    }
 /*MAIN BIBLIOTECA*/ 
 .h2_biblio{
    font-size:300%;
    font-weight: bolder;
    font-style: normal;
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.cont_biblio{
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 19% 19% 19% 19% 19%;
}
.cont_main{
    margin: 1rem;
    padding: 1rem;
}
.imagen_biblio{
    margin:0.1rem 0rem 1rem 0rem;
    width: 100%;
    height: 400px;
}.div_main{
    padding: 5px;
}
#principal:hover{
    background-color: #aac2b2;
    transform:scale(10.5px,10.5px);
    transition: all 1s;
}
.main_h3{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 0px;
}
.articulos{
    margin: 1%;
    padding: 1%;
    border: 1.5px #564242 solid;
}
.articulos:hover{
    background-color: #93b49e;
    transform:scale(10.5px,10.5px);
    transition: all 1s;
    font-style:initial;
    border: none;
}
.h3_biblio{
    font-family: 'Courier New', Courier, monospace;
}
    /*PANTALLAS  XS SM MD BIBLIOTECA*/
@media only screen and (max-width:840px ){
    /*GENERAL*/
    .grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: none 100% 355px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    header {
        grid-area:"header";
    }
    /*MAIN bibliotecas*/
    .main_biblio{
        grid-area:"main";
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:50% 50%;
        grid-template-areas:"main" 
                            "aside";
    }
    .cont_main{
        margin:0.5rem;
        padding:0.5rem
    }
    .h2_biblio{
        font-size: 200%;
    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer"
    }
}
    /*PANTALLAS LG BIBLIOTECA*/
@media only screen and ( min-width:840px){
    /*General*/
    .grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:none 80% 155px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    header {
        grid-area:"header";
    }
    /*MAIN bibliotecas*/
    .main_biblio{
        grid-area:"main";
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows:100%;
        grid-template-areas:"main" "aside";
    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer"
    }    
}
/*MAIN Destacados */
.h2{
    font-size:200%;
    font-weight: bolder;
    font-style: normal;
    padding: 2rem 0.5rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:auto;
    margin:2rem 0.3rem;
    text-align: center;
}
.tarjetas:hover{
    background-color: #93b49e;
    transform:scale(10.5px,10.5px);
    transition: all 1s;
    font-style:initial;
    border: 1px solid #93b49e;
}
.tarjetas h3{
    padding: 0.5rem 0.5rem;
    font-size: 120%;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
.tarjetas{
    background-color: #f8eee3;
    width: 30%;
    box-shadow: 2px 8px 4px 2px rgba(0,0,0,0.49);
}
.imagen_tarjeta{
    padding: 0.1rem ;
    width: 100%;
    border: 4px double #FBF9F8;
}
    /*PANTALLAS XS SM MD  DESTACADOS*/
@media only screen and ( max-width:920px){
    /*General*/
    .grilla_dest{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:none 65% 305px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    header{
        grid-area:"header";
    }
    /*MAIN destacados*/
    .sectiond{
        grid-area:"main";
    }
    .h2{
        font-size:200%;
        text-align: center;
    }
    .tarjetas{
        background-color: #f8eee3;
        width: 100%;
        padding: 0.5rem 1rem;
    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer"; /*NO ANDA Y NO ENTIENDO PQ, DESAPARECE EL BACKGROUNG COLOR Y EL BORDER*/
    }    
}
    /*PANTALLAS LG DESTACADOS*/
@media only screen and (min-width:920px ){
    /*GENERAL*/
    .grilla_dest{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:none 60% 255px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    header{
        grid-area:"header";
    }
    /*MAIN Destacados*/
    .sectiond{
        grid-area:"main";
    }
    .section_tarjetas{
        text-align: center;
    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer";
    }
}
/*MAIN CONTACTO*/

.section{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.imagen_contacto{
    margin: 8px;
    width: 40%;
    height:380px;
}
.form-control:focus  {
    color: #212529;
    background-color: #fff;
    border-color: black !important; 
    outline: 0;
    box-shadow: none !important
}
form{
    background-color: #f8eee3;
    width: 50%;
    height:380px;
    padding: 1rem 1rem;
}
.input-group-text{
    margin:0.2rem;
}
#button_submit{
    margin:2rem 0rem;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
    background-color:#DFB59D;
    text-decoration: none;
}
#button_submit:hover{
    background-color: #93b49e;
    color:antiquewhite;
    transform:scale(1,1);
}
 /*PANTALLAS  XS SM MD CONTACTO*/
 @media only screen and (max-width:800px){
    /*General*/
    .grilla_cont{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: none 80% 355px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    header {
        grid-area:"header";
    }
    /*MAIN contacto*/
    .section{
        grid-area:"main";
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:50% 50%;
        grid-template-areas:"form" 
                            "photo";
    } 
    form{
        grid-area:"form";
        background-color: #f8eee3;
        width: 90%;  
    }

    .imagen_contacto{
        grid-template-areas:"photo";
        display: flex;
        width: 90%;

    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer"
    }
}
    /*PANTALLAS LG CONTACTO*/
@media only screen and ( min-width:800px){
    /*General*/
    .grilla_cont{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:none 100% 205px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }
    /*HEADER*/
    .header {
        grid-area:"header";
    }
    /*MAIN contacto*/
    .grilla_cont{
        grid-area:"main";
    }
    /*FOOTER*/
    .footer_index{
        grid-area:"footer";
    }
}
/*FOOTER*/
.footer_index{
    grid-template-areas:"footer";
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 0rem;
    border-top: 1px solid black; 
    background-color:#f8eee3;

}
.footer_imagen{
    width: 70px;
}
.footer_logo{
    display: flex;
    align-items:center;
}
footer a{
    text-decoration: none;
    color: black;
}
.logo_redes_footer{
    width:25px ;
}
.copyright_cont{
    margin: 0rem 1rem
}
.contenedores_footer_logoredes{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.contenedores_footer_logoredes:hover{
    background-color:#93b49e;
    transform:scale(1,1);
    transition: all 1s;
    border-radius: 5rem; 
}
    /*CAMBIO EN EL HEADER/NAV GENERAL*/
@media only screen and ( max-width:460px){
    .footer_index{
        display: inline;
    }
    .footer_logo{
        display: inline;
    } 
    .redes{
        margin:0.5rem 0rem;
    }
    .copyright_cont{
        margin: 0.5rem 0rem;
    }
    .footer_imagen{
        margin: 0.5rem 0rem;
    }
    .contenedores_footer_logoredes{
        padding: 0.1rem;
    }
}