/*GENERAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*HEADER*/
.header {
    grid-template-areas:"header";
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid black; 
    background-color:#f8eee3;
}
.menu_principal{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.header_imagen{
    width: 70px;
}
.menu_principal li {
    display: inline-block;
    margin: 1rem 0.5rem; 
}
.contenedor_logotitulo{
    align-items:center;
    display: flex;
}
nav a{
    margin-top: 1.5rem;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    background-color:#DFB59D;
    text-decoration: none;
    color: #564242;
}
nav a:hover{ 
    background-color:#93b49e;
    color:#FBF9F8;
    transform:scale(1,1);
    transition: all 0.9s;
}
/*MAIN*/
body{
    background-color:rgb(255, 249, 241);
    align-items: center;
}
/*MAIN index*/
.imagen_index{
    width: 100%;
    height: 700px;
}
/*MAIN nosotras*/
.main_nos{
    margin: 1rem;
}
.h2_nos{
    font-size:3rem;
    background-color:rgb(253, 236, 227);
    font-weight: bolder;
    font-style: normal;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.nosotras_con{
    display: flex;
    flex-direction: row;
}
.socios_img{
    display: flex;
    justify-content: space-around;
}
.imagenes_nos{
    display: flex;
    flex-direction: column;
}
.integrantes{ 
    filter: invert(20%);
}
.integrantes:hover{ 
    filter: invert(0%);
    transition: all 1s;
}
.imagenes_indv{
    margin: 1rem;
}
.imagenes_indv:hover{
    filter: brightness(70%);
    transition: all 0.9s;
}
.div_inf_nos{
    margin: 2rem 1rem;
}
.h2_div_inf{
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.ul_filo{
    list-style-type: circle;
    margin: 0.5rem 0rem 0rem 2rem;
    font-size:medium;
}

/*MAIN Destacados */
.h2{
    font-size:3rem;
    font-weight: bolder;
    font-style: normal;
    padding: 2rem 0.5rem 0rem 0rem;
    display: flex;
    justify-content: center;
    
}
.section_tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin: 3rem;
    text-align: center;
}
.tarjetas:hover{
    background-color: #93b49e;
    transform:scale(10.5px,10.5px);
    transition: all 1s;
    font-style:initial;
    border: 1px solid #93b49e;
}
.tarjetas h3{
    padding: 0.5rem 0.5rem;
    font-size: 120%;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
.tarjetas{
    background-color: #f8eee3;
    width: 30%;
    padding: 0.5rem 1rem;
}
.imagen_tarjeta{
    padding: 1rem 1rem;
    width: 100%;
    border: 4px double #FBF9F8;
}
/*MAIN contacto*/
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;
    justify-items: center;
}
.imagen_contacto{
    width: 40%;
    height:380px;
}
form{
    background-color: #f8eee3;
    width: 50%;
    height:380px;
    padding: 1rem 1rem;
}
.formulario_partes{
    padding: 1rem;
}
.input_form{
    width: 30%;
}
#button_submit{
    margin-top: 1.5rem;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    background-color:#DFB59D;
    text-decoration: none;
}
#button_submit:hover{
    background-color: #93b49e;
    color:antiquewhite;
    transform:scale(1,1);
}
/*FOOTER*/
.footer_index{
     grid-template-areas:"footer";
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 0rem;
    border-top: 1px solid black; 
    background-color:#f8eee3;
}
.footer_logo{
    display: flex;
    align-items:center;
 }
footer a{
     text-decoration: none;
     color: black;
}
.logo_redes_footer{
    width:25px ;
}
.copyright_cont{
    margin: 0rem 1rem
}
.contenedores_footer_logoredes{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
}
.contenedores_footer_logoredes:hover{
    background-color:#93b49e;
       transform:scale(1,1);
    transition: all 1s;
    border-radius: 5rem; 

}